<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Main Releases Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<% @release_mains.each do |release_main| %>
  <div id="<%= "release_main_#{release_main.id}" %>" class="col-lg-4 col-md-6">
    <%= render partial: "release_main_box", locals: { release_main: release_main } %>
  </div>
<% end %>
